<%= simple_form_for(@item) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs">
      <%= f.input :price %>
       <%= f.input :item_type %>
      <%= f.input :category %>
       <%= f.input :size %>
      <%= f.input :color %>
      <%= f.input :brand %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-dark' %>
    </div>
  <% end %>
