	<div class="container mt-5">
		<div class="card p-5">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="https://picsum.photos/200" style="width: 25rem;" /></div>
						</div>
					</div>
					<div class="details col-md-6">
						<h3 class="product-title"><%= @item.category %></h3>
						<p class="product-description"><%= @item.description %></p>
						<h4 class="price"><span>R$ <%= @item.price %></span></h4>
						<h5 class="sizes">Tamanho : <%= @item.size %></h5>
						<h5 class="colors">Cor: <%= @item.color.capitalize %></h5>
            <h5 class="brands">Marca: <%= @item.brand %></h5>
						<div class="action">
						  <%= link_to 'Adicionar à sacolinha', new_item_deal_path(@item), class:"add-to-cart btn btn-dark mt-3" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<%= render 'shared/footer' %>
